<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Веб-приложение для добавления информации в Word документ по ГОСТ</title>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong><a href="{% url 'home' %}">Word ГОСТ Редактор</a></strong></li>
        </ul>
        <ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'about' %}">О приложении</a></li>
            <li><a href="{% url 'contact' %}">Контакты</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Профиль</a></li>
                <li><a href="{% url 'confirm_logout' %}">Выйти</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Авторизация</a></li>
            {% endif %}
        </ul>
    </nav>
    <main class="container">
        <div class="grid">
            <section>
                <hgroup>
                    <h2>Добавление информации в Word по ГОСТ</h2>
                    <h3>Простой и удобный способ</h3>
                </hgroup>
                <p>Это веб-приложение позволяет быстро и легко добавлять информацию в документы Word, соблюдая требования ГОСТ. Вы можете добавить название, заголовки, текст и многое другое, используя наш удобный интерфейс.</p>
                <figure>
                    <img src="https://source.unsplash.com/random/800x600" alt="Пример документа Word по ГОСТ" />
                    <figcaption><a href="https://source.unsplash.com" target="_blank">Источник изображения</a></figcaption>
                </figure>
                <h3>Как это работает</h3>
                <p>Просто заполните необходимые поля на нашей веб-странице, и информация будет автоматически форматирована и добавлена в ваш Word документ согласно ГОСТ.</p>
                <h3>Начните сейчас</h3>
                <p>Чтобы начать, просто нажмите на кнопку ниже и следуйте инструкциям.</p>
                <a href="{% url 'add_elements' %}">
                    <button type="button">Внести данные в документ</button>
<               </a>
            </section>
        </div>
    </main>
    <section aria-label="Subscribe example">
        <div class="container">
            <article>
                <hgroup>
                    <h2>Начните использовать сейчас</h2>
                    <h3>Быстрая регистрация</h3>
                </hgroup>
                <form class="grid" action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <input type="text" id="firstname" name="firstname" placeholder="Ваше имя" aria-label="Ваше имя" required />
                    <input type="email" id="email" name="email" placeholder="Ваш email" aria-label="Ваш email" required />
                    <button type="submit">Регистрация</button>
                </form>
            </article>
        </div>
    </section>
    <footer class="container">
        <small>
            <a href="{% url 'terms' %}">Условия использования</a> • <a href="{% url 'privacy_policy' %}">Политика конфиденциальности</a>
        </small>
    </footer>
</body>
</html>
