<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Политика конфиденциальности - Word ГОСТ Редактор</title>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong><a href="{% url 'home' %}" style="color: inherit; text-decoration: none;">Word ГОСТ Редактор</a></strong></li>
        </ul>
        <ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'about' %}">О приложении</a></li>
            <li><a href="{% url 'contact' %}">Контакты</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Профиль</a></li>
                <li><a href="{% url 'confirm_logout' %}">Выйти</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Авторизация</a></li>
            {% endif %}
        </ul>
    </nav>
    <main class="container">
        <div class="grid">
            <section>
                <hgroup>
                    <h2>Политика конфиденциальности</h2>
                    <h3>Ваша приватность для нас важна</h3>
                </hgroup>
                <p>Мы придаем большое значение защите вашей личной информации и стремимся обеспечить ее конфиденциальность при использовании нашего веб-приложения.</p>
                <h3>Сбор и использование информации</h3>
                <p>Мы собираем минимально необходимую информацию о пользователях для улучшения качества наших услуг. Это может включать данные о взаимодействии с приложением, IP-адреса, данные учетных записей и другие подобные сведения.</p>
                <h3>Разглашение информации</h3>
                <p>Мы не разглашаем вашу личную информацию третьим лицам, за исключением случаев, требующихся по закону.</p>
                <h3>Использование файлов cookie</h3>
                <p>Наше веб-приложение может использовать файлы cookie для улучшения пользовательского опыта. Вы можете отказаться от их использования в настройках своего браузера.</p>
                <h3>Изменения в политике конфиденциальности</h3>
                <p>Мы оставляем за собой право изменять настоящую политику конфиденциальности в любое время. Пожалуйста, периодически просматривайте ее на предмет изменений.</p>
            </section>
        </div>
    </main>
    <footer class="container">
        <small>
            <a href="{% url 'terms' %}">Условия использования</a> • <a href="{% url 'privacy_policy' %}">Политика конфиденциальности</a>
        </small>
    </footer>
</body>
</html>