<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Условия использования - Word ГОСТ Редактор</title>
</head>
<body>
     <nav class="container-fluid">
        <ul>
            <li><strong><a href="{% url 'home' %}">Word ГОСТ Редактор</a></strong></li>
        </ul>
        <ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'about' %}">О приложении</a></li>
            <li><a href="{% url 'contact' %}">Контакты</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Профиль</a></li>
                <li><a href="{% url 'confirm_logout' %}">Выйти</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Авторизация</a></li>
            {% endif %}
        </ul>
    </nav>
    <main class="container">
        <div class="grid">
            <section>
                <hgroup>
                    <h2>Условия использования</h2>
                    <h3>Пожалуйста, внимательно прочитайте</h3>
                </hgroup>
                <p>Данный раздел содержит условия использования нашего веб-приложения. Используя наше приложение, вы автоматически соглашаетесь с этими условиями, поэтому важно ознакомиться с ними заранее.</p>
                <h3>Общие положения</h3>
                <p>Приложение предоставляется "как есть", и мы не несем ответственности за любые ошибки или проблемы, связанные с его использованием. Мы стремимся обеспечить стабильную работу приложения, но не гарантируем отсутствие прерываний в его работе.</p>
                <h3>Использование материалов</h3>
                <p>Все материалы, доступные в приложении, защищены авторским правом. Их использование разрешено только для личных, некоммерческих целей. Любое копирование, распространение или иное использование материалов без разрешения автора запрещено.</p>
                <h3>Изменения условий</h3>
                <p>Мы оставляем за собой право в любое время изменять эти условия использования без предварительного уведомления. Пожалуйста, регулярно проверяйте этот раздел, чтобы быть в курсе возможных изменений.</p>
            </section>
        </div>
    </main>
    <footer class="container">
        <small>
           <a href="{% url 'terms' %}">Условия использования</a> • <a href="{% url 'privacy_policy' %}">Политика конфиденциальности</a>
        </small>
    </footer>
</body>
</html>